*{
  box-sizing: border-box;
  margin: 5px ;
  padding: 5px;
  font-family: "Lucida Console", "Courier New", monospace;
  max-width: 80%;
  background-color: pink;
}
:root {
  --primary-color: blue; 
}
img{
    border-radius: 50%;
    box-shadow: 0cm;
}
ul{
    list-style: none
}
li{
    display: inline-block;
}
button{
background-color: purple;
}
p{
    margin: 10px;
}